@using University.Models.DB
@model List<Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<h2>Students</h2>
<div class="table-section">
    @if (@Model.Count == 0)
    {
        <p>No students found</p>
    }
    else
    {
        <table style="width: 100%">
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            @foreach (var student in @Model)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Students", new { id = student.StudentId })</td>
                </tr>
            }
        </table>
    }
</div>